{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock header %}


{% block content %}
    <div class="article-dual-column">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="intro">
                        <h1 class="text-center">{{ eftlead.name }}</h1>
                        <p class="text-center">{{ eftlead.position }}<span class="date">{{ eftlead.company }}</span></p><img class="img-fluid justify-content-center" src="{{ image_url }}" width="150" height="150">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <dl>
                        <dt>Teams:</dt>
                            <dd>
                                {% for team in team_names %}
                                    <a href="{% url 'kpi_team' team.id %}">{{ team }}</a>
                                {% endfor %}
                            </dd>
                        <dt>Incidents:</dt>
                            <dd>
                                {% for incident in incidents %}
                                    <a href="{% url 'kpi_team' incident.id %}">{{ incident }}</a>
                                {% endfor %}
                            </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
