{% extends 'base.html' %}


{% block content %}
	<div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">EFT Teams</h2>
                <p class="text-center">Below you can find a list of the teams listed according to their company.&nbsp;</p>
            </div>
            <div class="row justify-content-center features">
                {% for company in companies %}
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="box">
                            <h3 class="name"><a href="{% url 'kpi_company' company.id %}">{{ company }}</a></h3>
                            {% for team in teams %}
                                {% if team.company == company %}
                                    <p class="description"><a href="{% url 'kpi_team' team.id %}">{{ team }}</a></p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}