{% extends 'base.html' %}
{% load static %}

{% block header %}
    <script>
        $(document).ready(function () {
            $('#incident-table').DataTable();
        });
    </script>
{% endblock header %}

{% block buttons %}
    <a href="{% url 'kpi_create' %}"><button class="btn btn-primary btn-sm" type="button">Create</button></a>
{% endblock buttons %}

{% block content %}
     <div class="table-responsive">
        <table class="display" id="incident-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>IR Number</th>
                    <th>Company</th>
                    <th>EFT Lead</th>
                    <th>EFT Team</th>
                    <th>Incident</th>
                </tr>
            </thead>
            <tbody>
                {% for incident in incidents %}
                    <tr>
                        <td id="date_cell">{{ incident.date }}</td>
                        <td><a href="{% url 'kpi_detail' incident.ir_num.id %}">{{ incident.ir_num }}</a></td>
                        <td><a href="{% url 'kpi_company' incident.company.id %}">{{ incident.company }}</a></td>
                        <td><a href="{% url 'kpi_eftdetail' incident.eft_lead.id %}">{{ incident.eft_lead }}</a></td>
                        <td><a href="{% url 'kpi_team' incident.team_name.id %}">{{ incident.team_name }}</a></td>
                        <td><a href="#">{{ incident.incident }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
