{% extends 'base.html' %}
{% load static %}

{% block header %}
    <script>
        $(document).ready(function () {
            $('#incident-table').DataTable();
            var introguide = introJs();

            introguide.setOptions({
                steps: [
                    {
                      element: '#create-but',
                      intro: 'Click here to create a new Incident Report.',
                      position: 'bottom'
                    },
                    {
                      element: '#incident-table',
                      intro: 'Here you will find a list of all the current reported incidents. You can search and filter as needed.',
                      position: 'bottom'
                    },
                    {
                      element: '#ir-link',
                      intro: 'Click on this link to see more detailed information about this incident.',
                      position: 'bottom'
                    },
                    {
                      element: '#company-link',
                      intro: 'See information related to this company.',
                      position: 'bottom'
                    },
                    {
                      element: '#lead-link',
                      intro: 'Information about this EFT Lead',
                      position: 'bottom'
                    },
                    {
                      element: '#team-link',
                      intro: 'Information about this EFT Team',
                      position: 'bottom'
                    },
                    {
                      element: '.nav',
                      intro: 'You can navigate to different sections using these links..',
                      position: 'right'
                    },
                ]
            });

            if (confirm('Would you like to start the guided tour?')) {
                introguide.start();
            } else {
                
            }
        });
    </script>
{% endblock header %}

{% block buttons %}
    <div id="create-but">
        <a href="{% url 'kpi_create' %}"><button class="btn btn-primary btn-sm" type="button">Create</button></a>
    </div>
{% endblock buttons %}

{% block content %}
     <div class="table-responsive" id="inc-table" style="background-color: #eef4f7;">
        <table class="display" id="incident-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>IR Number</th>
                    <th>Company</th>
                    <th>EFT Lead</th>
                    <th>EFT Team</th>
                    <th>Incident</th>
                </tr>
            </thead>
            <tbody>
                {% for incident in incidents %}
                    <tr>
                        <td class="blue_cell">{{ incident.date }}</td>
                        <td><a href="{% url 'kpi_detail' incident.id %}" id="ir-link">{{ incident.ir_num }}</a></td>
                        <td><a href="{% url 'kpi_company' incident.company.id %}" id="company-link">{{ incident.company }}</a></td>
                        <td><a href="{% url 'kpi_eftdetail' incident.eft_lead.id %}" id="lead-link">{{ incident.eft_lead }}</a></td>
                        <td><a href="{% url 'kpi_team' incident.team_name.id %}" id="team-link">{{ incident.team_name }}</a></td>
                        <td class="blue_cell" id="incident-link">{{ incident.incident }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
